<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>Instagram / Post List</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <form action ="" method="get">
        <input type="text" name="q" value="{{ q }}" />
        <input type="submit" value ="검색" />
    </form>

    <table class ="table table-bordered table-hover">
        <tbody>
            {% for post in post_list %}
                <tr>
                    <td>
                        {% if post.photo %}
                            <img src="{{ post.photo.url }}" style="width: 100px;"/>
                        {% else %}
                            No photo
                        {% endif %}
                    </td> 
                    <td>
                        {{ post.message}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
